.App {
  font-family: sans-serif;
}

.sidebar {
  height: 100%;
  position: fixed;
}

.header {
  font-family: "Alfa Slab One", cursive;
}

.search-container {
  display: flex;
}

.search-input {
  background: rgba(144, 122, 191, 0.7);
  padding: 30px;
  text-align: center;
}

.search-input-box {
  font-size: 24px;
  min-height: 41px;
  min-width: 100%;

  textarea:focus,
  input:focus {
    outline: none;
  }
  input {
    outline: none;
  }
  outline: none;
}

.submit-button-container {
}

.display-container {
  overflow: auto;
}
.search-input-submit-button {
  background-color: rgba(83, 219, 78, 0.5);
  border: none;
  color: white;
  font-size: 14px;
  // padding: 15px 15px 0.5rem;
  text-align: center;
  text-decoration: none;

  :hover {
    cursor: pointer;
  }
}

.display-article {
  background-color: rgba(65, 94, 140, 0.1);
}

.fa-bookmark {
  display: inline-block;
  &:hover {
    cursor: pointer;
  }
}
