.App {
	font-family: sans-serif;
}

// .header-container {
// 	align-items: center;
// 	display: flex;
// 	justify-content: center;
// }

.header {
	font-family: "Alfa Slab One", cursive;
}

.search-container {
	display: flex;
}

.search-input {
	background: rgba(144, 122, 191, 0.7);
	// display: flex;
	padding: 30px;
	text-align: center;
	// flex-direction: row;
	// justify-content: space-between;
}

.search-input-box {
	font-size: 24px;
	min-height: 41px;
	min-width: 100%;

	textarea:focus,
	input:focus {
		outline: none;
	}
	input {
		outline: none;
	}
	outline: none;
}

.submit-button-container {
}

.search-input-submit-button {
	background-color: rgba(83, 219, 78, 0.5);
	border: none;
	color: white;
	font-size: 14px;
	// padding: 15px 15px 0.5rem;
	text-align: center;
	text-decoration: none;

	:hover {
		cursor: pointer;
	}
}

.display-article {
	background-color: rgba(65, 94, 140, 0.1);
}
