.App {
  font-family: sans-serif; }

.sidebar {
  height: 100%;
  position: fixed; }

.header {
  font-family: "Alfa Slab One", cursive;
  padding: 10px; }

.search-input {
  background: rgba(144, 122, 191, 0.7);
  padding: 30px;
  text-align: center; }

.search-input-box {
  font-size: 24px;
  min-height: 41px;
  outline: none; }
  .search-input-box textarea:focus,
  .search-input-box input:focus {
    outline: none; }
  .search-input-box input {
    outline: none; }

.display-container {
  overflow: auto; }

.search-input-submit-button {
  background-color: rgba(83, 219, 78, 0.5);
  border: none;
  color: white;
  font-size: 14px;
  text-align: center;
  text-decoration: none; }
  .search-input-submit-button :hover {
    cursor: pointer; }

.display-article {
  background-color: rgba(65, 94, 140, 0.1); }

.fa-bookmark {
  display: inline-block; }
  .fa-bookmark:hover {
    cursor: pointer; }
